*{margin:0;padding:0;}:focus,:active {outline:0}ul,ol{list-style:none}img{border:0} 
body { font: .74em Sans-Serif; color: #444; line-height: 1.6em; }
a { text-decoration: none; color: #008080; }
p  { margin: 0 0 15px; }

h1 { letter-spacing: -0.04em; font-size: 1.8em;} /*text-shadow: 1px 1px 1px #000; */
h2 { font-size: 1.4em; text-shadow: 1px 1px 1px #fff; margin: 0 0 10px; color: #F58A90; }
h3 { font-weight:700; font-size: 1.3em; margin: 0 0 6px; }

.line { clear: both; border-bottom: 2px dotted #ccc; padding: 10px 0 0; margin: 0 0 8px; }

#bottom_left_hotkey .table tbody tr {font-weight: 400;}
a {color:black;}
td::before {
    content: "◆  ";
    color: black;
}
